li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.header{
    height: 140px;
    padding: 40px 0px 40px 0px;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.find_me {
    height: 50px;
    width: 432px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white_style{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.social_icon {
    width: 50px;
    height: 50px;
}

.about_me_nav{
    width: 462px;
}
.about_me_menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    height: 60px;
}

.contact_me_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* gap: 10px; */

    border: 2px solid #FBFF22;
    border-radius: 5px;

   

    /* Heading 6 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    color: #FBFF22;
}

.contact_me_button:hover{
    background-color: #fbff222f;
}