
html, body {
  margin: 0;
  padding: 0px;
  
}


.avatarka {
  width: 100%;
}

.avatarka_content{
  width: 100%;
}
.avatarka img{
  max-width: 400px;
  min-width: 200px;
  max-height: 500px;
  min-height: 350px;

  position: relative;
  left: 0;

  animation-name: avatarka-anim;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.avatarka_content:hover img{
  animation-play-state: paused;
}
@keyframes avatarka-anim{
  0%{
    left: 0;
  }
  50% {
    border-radius: 50%;
  }
  100%{
    left: 600px;
  }
}

.projects {
  background-color: aquamarine;
  width: 100%;
  height: 100px;

}
