
html, body {
  margin: 0;
  padding: 0px;
  
}


.avatarka {
  width: 100%;
}

.avatarka_content{
  width: 100%;
}
.avatarka img{
  max-width: 400px;
  min-width: 200px;
  max-height: 500px;
  min-height: 350px;

  position: relative;
  left: 0;

  animation-name: avatarka-anim;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.avatarka_content:hover img{
  animation-play-state: paused;
}
@keyframes avatarka-anim{
  0%{
    left: 0;
  }
  50% {
    border-radius: 50%;
  }
  100%{
    left: 600px;
  }
}

.projects {
  background-color: aquamarine;
  width: 100%;
  height: 100px;

}

.steck {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container{
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;

}


.container:hover{
  background-color: red;
}

.clock-main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
}

.clock{
  width: 30rem;
  height: 30rem;
  margin: 48px;
  padding: 1.5rem;
  border: 6px solid #282828;
  border-radius: 50%;
  box-shadow: -8px -8px 12px rgba(67, 67, 67, 0.4),
  inset 8px 8px 12px rgba(0, 0, 0, 0.3),
  inset -8px -8px 12px rgba(67, 67, 67, 0.4),
  8px 8px 12px rgba(0, 0, 0, 0.3);
}

.outer-clock{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #282828;
}

.outer-clock::before,
.outer-clock::after,
.outer-clock .marking {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #bdbdcb;
  z-index: 0;
  left: 49%;
}

.outer-clock::after{
  transform: rotate(90deg);
}

.outer-clock .marking{
  width: 2px;
}

.outer-clock .marking.marking-one{
  transform: rotate(30deg);
}

.outer-clock .marking.marking-two{
  transform: rotate(60deg);
}

.outer-clock .marking.marking-three{
  transform: rotate(120deg);
}