
html, body {
  margin: 0;
  padding: 0px;
  
}


.avatarka {
  width: 100%;
}

.avatarka_content{
  display: flex;
  justify-content: end;
}
.avatarka img{
  max-width: 400px;
  min-width: 200px;
  max-height: 500px;
  min-height: 350px;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
}
